<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página Principal del Gestor</title>
    <link rel="stylesheet" href="/static/ManagerMainPage.css">
    <link rel="icon" href="/static/favicon.png" type="image/x-icon" />
</head>

<body>
    <div class="container">
        <div>
            <h2 style="color: black;">¡Algo salió mal!</h2>
            <h2 style="color: black;">¡Algo salió mal!</h2>
            <h2 style="color: black;">¡Algo salió mal!</h2>
        </div>

        <!-- Botones de navegación -->
        <div class="buttons">
            <a href="/"><button type="button">Regresar</button></a>
        </div>
    </div>
</body>

</html>