<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Error de Usuario</title>
    <link rel="stylesheet" href="/static/InvalidWorkID.css">
    <link rel="icon" href="/static/favicon.png" type="image/x-icon" />
</head>

<body>
    <!-- Bordes -->
    <div class="outer-border">
        <div class="mid-border">
            <div class="inner-border">
                <!-- Espacio para el logo -->
                <div class="logo">
                    <img src="/static/logo.png" alt="Logo FileBoss">
                </div>
            </div>

            <div class="error-message">
                <p>Token de Autenticación Incorrecto</p>
                <p>Token de Autenticación Incorrecto</p>
                <p>Token de Autenticación Incorrecto</p>

                <a href="/"><button class="return-btn">Intentar de Nuevo</button></a>
                <a href="/signup"><button class="signup-btn">Registrarse</button></a>
            </div>
        </div>
    </div>

</body>

</html>
