<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página Principal del Usuario</title>
    <link rel="stylesheet" href="/static/UserMainPage.css">
    <link rel="icon" href="/static/favicon.png" type="image/x-icon" />

</head>

<body>
    <div class="container">
        <!-- Logo -->
        <div class="logo">
            <img src="/static/logo.png" alt="Logo del Usuario">
        </div>

        <!-- Barra de búsqueda -->
        <div class="search-bar">
            <form method="POST" action="/search">
                <input type="text" placeholder="Buscar..." name="searched" required>
                <button type="submit">Buscar</button>
            </form>
        </div>

        <!-- Botones -->
        <div class="buttons">
            <a href="/UserMainPage"><button>Inicio</button></a>
            <a href="/"><button>Cerrar Sesión</button></a>
        </div>

        <!-- Archivos -->
        <div class="file-section">
            {% for file in Files %}
            <div class="file-container">
                <h1>{{ file[1] }}</h1>
                <div class="file-buttons">
                    <a href="{{ url_for('downloadfile', file_id=file[0]) }}">
                        <button class="download-btn">Descargar</button>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>
